body {
  background-color: #758bfd;
}

.container {
  font-size: 1em;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 40px repeat(5, 70px);
  row-gap: 25px;
  column-gap: 18px;
}
.day {
  font-size: 1.5em;
  border-radius: 6px;
  color: #2f4858;
  background-color: #86bbd8;
  font-weight: 700;
}
.date {
  color: #f6ae2d;
  background-color: #33658a;
  font-weight: 600;
  border-radius: 3px;
  font-size: 2em;
}
.day,
.date {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 2em;
  color: #27187e;
}
